.container {
	margin: 0 auto;
    max-width: 1200px;
    padding: 0px 20px;
	@include if-is-medium-screen {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;


	}
}

.post {
	font-family: $main-font-family;
	background-color: white;;
	margin-bottom: 22px;
    box-shadow: $box-shadow-default;



	@include if-is-medium-screen {
		margin: 0 20px 30px 20px;
		flex: 1 0 28%;
	}

	.post-img {
		width: 100%;
		height: auto;
	}
	.post-content {
		padding: 8px 30px;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;

		.post-title {
			font-size: $font-size-h1;
			font-family: $titles-font-family;
			color: lighten($terciary-color, 20%);
			margin-bottom: 10px;
		}

        .post-text {
            @include format-text;
            .texto-oculto {
                display: none;
                &.shown {
                    display: block;
                }
            }
        }

        .post-detail {
            margin-top: 16px;
        }


	}
}

 .social-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            a {
                text-decoration: none;
                color: $secondary-color;
                padding: 0.8em;
                i.fa-comment {
                    align-self: flex-end;
                }


        }
}

