.comments-section {
    .comments {
        div[class^="ui-"] {
            display: none;
        }
        
        &.ideal .ui-ideal {display: block;}
        &.error .ui-error {display: block;}
        &.blank .ui-blank {display: block;}
        &.loading .ui-loading {display: block;}
    }
    .comments {
        .ui-ideal {
            .comment-box {
                box-sizing: border-box;
                background-color: $secondary-color;
                color: $primary-color;
                max-width: 60%;
                margin: 20px auto;
                padding: 20px;
                font-family: $main-font-family;
                @include format-text;
                
                .autor-line {
                    .autor-name {
                       color: #76daff; 
                    }
                }
                .separator {
                    height: 1px;
                    background-color: lighten($secondary-color, 30%);
                    width: 80%;
                    margin: 8px auto;
                }
            }
        }
    }
}
