footer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    padding: 30px;
    h1 {
        font-family: $titles-font-family;
        font-size: $font-size-h1;
        color: $primary-color;
        margin-bottom: 10px;

    }

    h2 {
        font-family: $main-font-family;
        font-size: $font-size-h6;
        color: $primary-color;
        margin-bottom: 10px;

    }
    a {
        text-decoration: none;
        padding: 10px;
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 8em;
        font-family: $main-font-family;
        font-weight: bold;
    }

}
