//utils
@mixin menu-lines {
    background-color: white;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
}

@mixin format-text {
    line-height: $line-heigth-default + 0.2;
    word-spacing: 1px;

}

//botones

@mixin button-style ($bcg-color, $color, $pos-bottom) {
        position: absolute;
        bottom: $pos-bottom;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        color: $color;
        background-color: $bcg-color;
        font-family: $main-font-family;
        font-size: $font-size-base;
        border-radius: 3em;
        border: 1px solid $secondary-color;
        height: 35px;
        line-height: 35px;
        text-transform: capitalize;
        transition: all 0.3s;
        padding: 0 20px;
        cursor: pointer;
        &:hover {
            background-color: lighten($secondary-color, 50%);
            color: white;
        }
        @include if-is-medium-screen {
            align-self: center;
            transform: translateX(0);
            position: static;

        }
}
/*
background-color: $primary-color;
        color: $secondary-color;
        bottom: 8%;
*/


//media queries
@mixin if-is-large-screen {
    @media all and (min-width: #{$large-screen-width}) {
        @content;
    }
}

@mixin if-is-medium-screen {
    @media all and (min-width: #{$medium-screen-width}) {
        @content;
    }
}

@mixin if-is-small-screen {
    @media all and (max-width: #{$small-screen-width}) {
        @content;
    }
}
