//variables


.web-header {
	background-color: $secondary-color;
	height: 20vh;
	width: 100%;
	position: relative;

	@include if-is-large-screen {
		height: 40vh;
	}

	.web-header-block {

		.web-header-title {
			font-family: $main-font-family;
			color: white;
			font-size: $font-size-large;
			@include header-pos;
		}

		.web-header-input {

			@include header-pos(60%, 50%);
			border-radius: $border-radius-default;
			width: 35%;
			padding: 5px;
		}

	}


}
